body {
    margin-left: 80px;
    margin-top: 80px;
    transition: margin-left 300ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
    background-color: #ffffff;
    font-family: 'Poppins', sans-serif;
}

header {
    width: 100%;
    height: 80px;
    background: #181818;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 200;

}

.icon__menu {
    width: 50px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(10px);

}

.icon__menu i {
    font-size: 20px;
    cursor: pointer;
    position: absolute;
}

.menu__side {
    width: 80px;
    height: 100%;
    background: #484848;
    position: fixed;
    top: 0;
    left: 0;
    color: white;
    font-size: 18px;
    z-index: 300;
    overflow: hidden;
    overflow-y: scroll;
    border-right: 20px solid #484848;
    transition: all 300ms cubic-bezier(0.785, 0.135, 0.15, 0.86);

}

/*Ocultar scroll para chrome, safari y opera*/
.menu__side::-webkit-scrollbar {
    display: none;
}

/*Ocultar scroll para IE, Edge y Firefox*/
.menu__side {
    -ms-overflow-style: none;
    scrollbar-width: none;


}


.name__page {
    padding: 20px 30px;
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.name__page i {
    width: 20px;
    margin-right: 20px;
}

.options__menu {
    padding: 20px 20px;
    position: absolute;
    top: 80px;
}


.options__menu a {
    color: #ffffffb2;
    cursor: default;
    display: block;
    position: relative;
    transition: color 300ms;
    text-decoration: none;
    font-weight: bolder;
}

.options__menu a:hover {
    color: white;
}

.options__menu .option {
    padding: 10px 0px;
    display: flex;
    align-items: center;
    position: relative;
}

.options__menu .option i {
    width: 20px;
    margin-right: 20px;
    cursor: pointer;
}

.options__menu .option h4 {
margin: 0;
    cursor: pointer;
    font-size: 20px;
}

a.selected {
    color: #fff;
}

.selected:before {
    content: '';
    width: 3px;
    height: 80%;
    background: white;
    position: absolute;
    top: 10%;
    left: -30px;
}

/*Clases para usar en JavaScript*/

.body_move {
    margin-left: 250px;
}

.menu__side_move {
    width: 250px;
}


@media screen and (max-width: 760px) {
    .body_move {
        margin-left: 0px;
    }

    .menu__side_move {
        width: 80px;
        left: -80px;
    }
}

.container-fluid {
    padding-top: 40px;
    height: 100vh;
}

.container-fluid label {
    color: white;
    font-weight: bold;
    font-size: 25px;
}


.container-fluid input {
    height: 40px;
    font-size: 18px;
    border-radius: 5px;
}

.row {
    background-color: #484848;
    border-radius: 5px;


}

.row div {
    height: auto;
}

.avatar{
    width: 40px;
    height: 40px;
}

.perfil{
    padding-bottom: 400px;
}

.altura{
    height: 30px;
}

.search input{
    border: none;
    outline: none;
    background-color: transparent;
    width: 90%;
}

.search {
background-color: rgb(241, 241, 241);
border-radius: 10px;
border: #484848;
border-width: 2px;
padding-left: 10px;
}